/* WIDGETS
------------------------*/
/*
label {
    background-color: lightsalmon;
}
*/

#DICTIONARY01 {
    margin: 20px;
}

#DICTIONARY02 {
    margin: 20px;
}

#LOSTLAND-LABEL {
    margin: 40px;
    border: 1px solid blue;
    font-size: 40px;
    color: blue;
}

#CONTENEUR-INPUT {
    background-color: white;
    margin: 10px;
    border: 1px solid orange;
}

#INPUT01 {
    color: green;
}

button {
    background-color: orange;    /* affiche la bordure seulement */
    color: green;
    /* border: 1px solid green; // ne fonctionne pas */
    margin: 10px;
}

#PREV-BUTTON-LABEL,
#NEXT-BUTTON-LABEL {
    color: blue;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 20px;
}

window {
    background-color: bisque;
}

/* CLASSES
------------------------*/
.bouton-actif {
    color: blue;
}

.bouton-inactif {
    color: lightgrey;
}

.texte-rouge {
    color: red;
}

.texte-vert {
    color: green;
}
